/* style.css */

/* Style for the item card container */
.item-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Style for the item card image */
.item-card img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

/* Style for the item description */
.item-card p {
  margin-top: 10px;
  font-size: 14px;
}

/* Hover effect for the card */
.item-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

/* 3D tilt effect on hover */
.item-card:hover img {
  transform: rotateY(10deg);
}

.item-card-list{
  display: flex;
  align-items: center;
  justify-content: center;
}